.swiper {
    margin-bottom: auto !important;
  
    .navigate-btn {
      display: flex;
      justify-content: end;
      gap: 30px;
      margin-top: 8px;

  
      @media #{$Mobile} {
        margin-top: 10px;
      }
      @media #{$Tablet} {
        margin-top: 10px;
      }
  
      .swiper-button-prev {
        position: relative !important;
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 63px;
  
        .ArrowRoundBack {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          font-weight: 50 !important;
        }
      }
  
      .swiper-button-next {
        position: relative !important;
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 63px;
  
        .ArrowRoundForward {
          width: 24px;
          height: 24px;
        }
      }
    }

    .swiper-slider{
      width: 400px;

      @media #{$Mobile} {
           width: 340px;              
      }

    }


  
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 0 !important;
    }
  }
  