.nav-main{
    position: relative;
    display: flex;
    background-color:white;
    height: 60px;
    padding-top: 15px;

    @media #{$Mobile} {
        height: 60px;                 
    }

    .nav-main-div{
        display: flex;
        padding-top: 8px;
        gap: 5px;
        margin-left: 10px;
        

        .offcanva-main{
            
            .offcanva-menu{
                display: none;
                width: 35px;
                height: 35px;
                
                @media #{$Mobile} {
                 display: block;
                        
                }

                @media #{$Tablet} {
                  display: block;       
                }
            }

           .nav-offcanva-main{
            width: 50px;
           }
        }

        .nav-main-span1{
            font-size: 32px;
            font-weight: 700;
            line-height: 38.4px;
            margin-left:35px;
            text-decoration: none;
            color: inherit;
            font-family: $IntegralCF;

            @media #{$Mobile} {
               font-size: 25.2px;
               line-height: 30.24px;
               margin-left: 5px;          
            }

            @media #{$Tablet} {
               margin-left: 10px;            
            }
        
        }

        .nav-dropdown{
            margin-left: 5px;

            @media #{$Mobile} {
             display: none;            
            }

            @media #{$Tablet} {
                display: none;           
               }
            .drop-toggle{
                background-color: transparent;
                border: none;
                color: black;
                font-size: 16px;
                font-weight: 400;
                
            
            }
        }

        .nav-main-span2{
           padding:5px;
           font-size: 16px;
           font-weight: 400;
           text-decoration: none;
           color: inherit;

           @media #{$Mobile} {
            display: none;            
           }

           @media #{$Tablet} {
            display: none;           
           }
        }

        .nav-main-span3{
            padding:5px;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: inherit;

            @media #{$Mobile} {
                display: none;            
            }

            @media #{$Tablet} {
                display: none;           
            }
 
         }

         .nav-main-span4{
            padding:5px;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: inherit;

            @media #{$Mobile} {
                display: none;            
            }

            @media #{$Tablet} {
                display: none;           
            }
 
         }

    }

    .nav-div2{
        display: flex;
        width:45%;//600px;
        height: 45px;
        padding-top:10px;
        padding-left: 10px;
        border: 2px;
        border-radius: 62px;
        background-color: #f0f0f0;
        margin-left: 35px;

        @media #{$Mobile} {
            display: none;             
        }

        .nav-search-icon{
            width: 20px;
            height: 20px;
            margin-top: 3px;
            margin-left: 3px;
        }

        .nav-input{
            width: 151px;
            height:22px;
            border: none;
            background-color: #f0f0f0;
            margin-left: 5px;
            outline: none;
        }
    }

    .nav-div3{
        position: absolute;
        right:15px;
        display: flex;
       // padding-top: 10px;
        gap: 7px;
        

        @media #{$Mobile} {
            margin-left:25%;           
        }

        .nav-search-icoo-small{
            
            width: 24px;
            height: 24px;
            display: none;

            @media #{$Mobile} {
             display: block;
             margin-top:7px;            
            }
        }

        .cart-num-div{
            .nav-cart{
                height: 24px;
                width: 24px;
                padding-top: 7px;
               
            }
    
            .cart-dec{
                text-decoration: none;
                color: inherit;
            }
    
            .cart-num{
                width: 10px;
                height: 20px;
                margin-right: 10px;
                color:$Purple2;
                font-size: 18px;
                font-weight: 500;
    
            }
        }

        .nav-loging{
            height: 27px;
            width: 60px;
            padding: 0px;
            border: 1px solid;
            border-color:#00000099;
            border-radius: 5px;
        }

        .nav-loging:hover{
            border-color: black;
        }
    }
}